<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="Main" ng-cloak ng-init="init()" class="aio-empty-screen padding overflow-scroll">
    <h1>
        LearnLooper
    </h1>
    <ion-scroll paging="false" style="height:400px;">
        <div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="item-divider item">
                            Monday
                        </div>
                        <div class="item">
                            Item text
                        </div>
                        <div class="item">
                            Item text
                        </div>
                        <div class="item">
                            Item text
                        </div>
                        <div class="item">
                            Item text
                        </div>
                        <div class="item">
                            Item text
                        </div>
                        <div class="item">
                            Item text
                        </div>
                        <div class="item">
                            Item text
                        </div>
                        <div class="item">
                            Item text
                        </div>
                        <div class="item">
                            Item text
                        </div>
                        <div class="item">
                            Item text
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="item-divider item">
                            Header
                        </div>
                        <div class="item">
                            Item text
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="item-divider item">
                            Header
                        </div>
                        <div class="item">
                            Item text
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="item-divider item">
                            Header
                        </div>
                        <div class="item">
                            Item text
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="item-divider item">
                            Header
                        </div>
                        <div class="item">
                            Item text
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="item-divider item">
                            Header
                        </div>
                        <div class="item">
                            Item text
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="item-divider item">
                            Header
                        </div>
                        <div class="item">
                            Item text
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-scroll>
    <div>
        <div class="row">
            <div class="col">
                <h3>
                    Text
                </h3>
                <button class="button button-block">
                    Button
                </button>
            </div>
            <div class="col">
                <p>
                    Text
                </p>
                <button class="button button-block">
                    Button
                </button>
            </div>
        </div>
    </div>
</div>
